@model DepartmentDetailsDto

@{
    ViewData["Title"] = "Delete";
    ViewBag.Action = "Delete";
    ViewBag.Id = Model.Id;
}

<h1>Are you Sure to Delete This Department</h1>

<br />
<br />

<partial name="Partials/DepartmentDetailsDto" />


